
.links{
    text-decoration: none;
    font-size: 0.75em;
    margin-left: auto;
    display: flex;
    justify-content: center;


}
.link-auth{
    color: #2b65e2;
}   

#root {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}